body {
    background-color: lightgrey;
}

h1 {
    color: blue;
    font-size: 40px;
    text-align: center;
}

h2,
h3,
h4 {
    background-color: white;
    color: red;
    font-size: 20px;
}

.aaa {
    margin-top: 50px;
}

img.elephants {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 350px;
}

.articles {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 5px;
}

.info {
    border: 1px solid black;
}

.container {
    background-color: green;
}

.copyright-text {
    text-align: center;
}