body {
    background-color: lightgrey;
}

h1 {
    color: blue;
    font-size: 40px;
    text-align: center;
}

h2,
h3,
h4 {
    background-color: white;
    color: red;
    font-size: 18px;
}

.aaa {
    margin-top: 50px;
}

img.elephants {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    
}

.articles .info {
    width: 30%;
}
.container {
background-color:green;
}



.copyright-text {
    text-align:center;
}